<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/lib/darkly-bootswatch.min.css">
  <link rel="stylesheet" href="../css/popup.css">
  <script src="../js/lib/anular.min.js"></script>
  <script src="../js/lib/angular-ui-router.min.js"></script>
  <script src="../js/popup.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body ng-app="wishly">
  <div class="container" ng-controller="PopupCtrl">
    <div class="pt-3 row text-center">
      <div class="col-sm-6">
        <div class id="form-container">
          <div class="page-header">
            <h3>My Lists</h3>
          </div>
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>